main {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100vh;
} 

.AuthPage {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 1.5vmin;
}

.AuthPage h2 {
    text-transform: uppercase;
    color: #2c3b4dc6;
    font-size: 3vmin;
}

h3 {
    margin-top: 0;
    color: #2c3b4dc6;
    font-size: 3vmin;
}

.logo-section {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.logo-section > h1 {
    font-size: 6vmin;
}

.auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.intro-logo {
    height: 40vmin;
}