.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
}

.intro-logo {
    height: 20vmin;
}

.intro {
    color: black;
    text-align:center;
    font-size: 3vmin;
    padding: 2vmin 2.5vmin;
}

.intro > span {
    font-size: 4vmin;
    line-height: 8vmin;
}