.SubjectLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7fbbe022;
    border-bottom: 0.3vmin solid #7fbbe022;
    justify-content: space-evenly;
}

.SubjectLinks img {
    height: 6vmin;
    padding: 0.1vmin;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}