.SubjectLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7fbbe022;
    border-bottom: 0.3vmin solid #7fbbe022;
}

.SubjectLinks span {
    cursor: pointer;
    padding: 0.5vmin 10vmin;
    color:white;
}

.SubjectLinks img {
    height: 6vmin;
    padding: 0.1vmin;
    display: flex;
    flex-direction: row;
}