.SearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
}

.SearchForm form {
    padding: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.SearchForm label {
    color: #2c3b4d;
    font-size: 2.5vmin;
    font-weight: 600;
    letter-spacing: 0.1vmin;
}

.SearchForm input {
    width: 60vmin;
    padding: 2vmin 2vmin;
    outline: none;
    font-size: 2vmin;
    border-radius: 1vmin;
    border: none;
    background-color: #5b6e8524;
}

.SearchForm button {
    padding: 1vmin 2vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
    background-color: #5b6e85;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1vmin;
}

.SearchForm button:hover {
    border-radius: 2vmin;
}

