.SearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
}

.SearchForm form {
    padding: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.SearchForm label {
    color: #2c3b4d;
    font-size: 2.5vmin;
    font-weight: 600;
    letter-spacing: 0.1vmin;
}

.SearchForm input {
    width: 50vmin;
    height: 6vmin;
    padding: 2vmin 2vmin;
    outline: none;
    font-size: 2vmin;
    border-radius: 0.2vmin;
    border: none;
    background-color: aliceblue;
}

.SearchForm input:hover, .DropDownMenu > select:hover{
    background-color: #5b6e850a;
    transition: 500ms;
}

.SearchForm button {
    padding: 1vmin 2vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
    background-color: #2c3b4d;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.2vmin;
}

.SearchForm button:hover {
    border-radius: 2vmin;
}

.DropDownMenu > select {
    padding: 1vmin 2vmin;
    font-size: 1.8vmin;
    border: none;
    background-color: aliceblue;
    outline: none;
    color: #2c3b4d;
    font-weight: 600;
}



