h1 {
    text-align: center;
    color: #2c3b4d;
    text-transform: capitalize;
}

.Books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vmin, 1fr));
    padding:2vmin;
    gap: 4vmin;
}

.Books > a {
    text-decoration: none;
}

.book-container {
    border-radius: 0.2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vmin;
    padding: 4vmin;
    background-color: white;
}

.book-container > img {
    height: 40vmin;
}

