h1 {
    text-align: center;
    color: #2c3b4d;
    text-transform: capitalize;
}

.Books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vmin, 1fr));
    padding:2vmin;
    gap: 2vmin;
}

.Books > a {
    text-decoration: none;
}

.book-container {
    border-radius: 0.2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vmin;
    padding: 1vmin;
}

.book-container:hover {
    /* background-color: #2c3b4d6b; */
    border: 0.8vmin solid #2c3b4d6b;
    cursor:pointer;
    transition: 600ms;
}

.book-container > img {
    height: 40vmin;
}

